version: "3.8"

services:
  php-apache:
    image: thecodingmachine/php:8.1-v4-apache
    restart: unless-stopped
    expose:
      - "80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - mariadb
    environment:
      APACHE_DOCUMENT_ROOT: /var/www/html
      COMPOSER_ALLOW_SUPERUSER: "1"

  mariadb:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: microweber_root
      MYSQL_DATABASE: microweber
      MYSQL_USER: microweber
      MYSQL_PASSWORD: microweber_pass
    volumes:
      - mw-db:/var/lib/mysql

volumes:
  mw-db:
