version: "3.8"

services:

  php-apache:
    image: thecodingmachine/php:8.1-v4-apache-node16
    restart: unless-stopped

    environment:
      COMPOSER_ALLOW_SUPERUSER: "1"
      PHP_INI_MEMORY_LIMIT: 1g
      PHP_INI_ERROR_REPORTING: E_ALL
      PHP_EXTENSIONS: pdo_mysql mbstring zip curl gd intl exif opcache
      APACHE_DOCUMENT_ROOT: /var/www/html/src/public

    volumes:
      - ./:/var/www/html

    expose:
      - "80"

    depends_on:
      - mariadb


  mariadb:
    image: mariadb:10.6
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: microweber
      MYSQL_USER: microweber
      MYSQL_PASSWORD: microweberpass

    volumes:
      - db_data:/var/lib/mysql


volumes:
  db_data:
