version: "3.8"

services:
  php-apache:
    image: thecodingmachine/php:8.1-v4-apache
    restart: unless-stopped

    expose:
      - "80"

    environment:
      APACHE_DOCUMENT_ROOT: /app/src/public
      PHP_MEMORY_LIMIT: 1024M

      DB_HOST: mariadb
      DB_DATABASE: microweber
      DB_USERNAME: microweber
      DB_PASSWORD: microweber_pass

    volumes:
      - ./:/app

    depends_on:
      - mariadb


  mariadb:
    image: mariadb:10.11
    restart: unless-stopped

    environment:
      MYSQL_ROOT_PASSWORD: root_pass_change_me
      MYSQL_DATABASE: microweber
      MYSQL_USER: microweber
      MYSQL_PASSWORD: microweber_pass

    volumes:
      - mariadb_data:/var/lib/mysql


volumes:
  mariadb_data:
