version: "3.8"

services:
  php-apache:
    image: thecodingmachine/php:8.1-v4-apache-node16
    restart: unless-stopped

    expose:
      - "80"

    volumes:
      - ./:/var/www/html

    depends_on:
      - mariadb

    environment:
      COMPOSER_ALLOW_SUPERUSER: "1"
      APACHE_EXTENSION_DAV: "0"
      PHP_INI_MEMORY_LIMIT: "1g"
      PHP_INI_ERROR_REPORTING: "E_ALL"
      PHP_EXTENSIONS: "pgsql gettext imap sockets zip curl dom gd exif intl mbstring bcmath opcache soap xml xmlrpc fileinfo pdo_sqlite pdo_mysql pdo_pgsql"
      PECL_EXTENSION: "sodium"

    networks:
      - coolify


  mariadb:
    image: mariadb:10.3
    restart: unless-stopped

    environment:
      MYSQL_DATABASE: microweber
      MYSQL_USER: microweber
      MYSQL_PASSWORD: microweber
      MYSQL_ROOT_PASSWORD: root

    volumes:
      - mariadb_data:/var/lib/mysql

    networks:
      - coolify


volumes:
  mariadb_data:


networks:
  coolify:
    external: true
